.panel-register{
	display:none;
}

.canvas-holder {
	height: 250px;
	margin: 10px 10px 30px 10px;
}

.moduleTitle {
	max-width: 80%;
	display: block;
	float: left;
}

.moduleAverage {
	width: 20%;
	text-align: right;
	font-weight: bold;
	display: inline-block;
	float: right;
}

.clearFix {
	clear: both;
}

.templateHeader {
	margin-bottom: 20px;
}

.panel-heading {
	background-color: #f2f2f2 !important;
}

.panel {
	padding: 10px !important;
}

.panel-title {
	margin: 0px !important;
}

.moduleLink {
	margin: 0px 10px;
}