.panel-register{
	display:none;
}

.canvas-holder {
	height: 250px;
	margin: 10px 10px 30px 10px;
}

.moduleTitle {
	max-width: 80%;
	display: block;
	float: left;
}

.moduleAverage {
	width: 20%;
	text-align: right;
	font-weight: bold;
	display: inline-block;
	float: right;
}

/* ***** Module - Percentage Cell/View Breakdown Button ***** */

.percentageTableDataCell {
	width: 20%;
}

.moduleClassAttendance {
	width: 25%;
	display: inline-block;
	float: left;
}

.breakdownButton {
	float: right;
	width: 120px;
	display: block;
}

.thingContainer {
	width: 160px;
	margin: 0px !important;
}

.clearFix {
	clear: both;
}

.templateHeader {
	margin-bottom: 20px;
}

.panel-heading, .panel-default {
	background-color: #f2f2f2 !important;
}

.panel {
	padding: 10px !important;
}

.panel-title {
	margin: 0px !important;
}

.moduleLink {
	margin: 0px 10px;
}

.navbar {
	border-radius: 0px !important;
}

.tableBreakdownHeader {
	margin: 0px;
}

.breakdownButton {
	float: right;
}

.dropdown-lead{
    width: 80%;
    box-sizing: border-box;
}
.dropdown-toggle{
    width: 20%;
    box-sizing: border-box;
}

.moduleBreakdownBtnList {
	width: 100%;
}

.dropdown-menu {
	width: 100%;
}

.moduleBreakdownBtnList, .moduleBreakdownBtnGroup {
	margin: 30px 0px 30px;
}

@media screen and (max-width: 499px) {
    .moduleBreakdownBtnList {
    	display: block;
    }
    .moduleBreakdownBtnGroup {
    	display: none;
    }
}

@media screen and (min-width: 500px) {
    .moduleBreakdownBtnList {
    	display: none;
    }
    .moduleBreakdownBtnGroup {
    	display: block;
    }
}