.panel-register{
	display:none;
}

.canvas-holder {
	height: 250px;
	margin: 80px 10px 30px 10px;
}

.moduleHeader {
	width: 80%;
	float: left;
}

.moduleAverage {
	width: 20%;
	float: left;
	text-align: right;
	padding: 15px 10px 17px 0px;
	background-color: #EFEFEF;
	font-weight: bold;
}

.accordion-navigation {
	clear: left;
}

.content: {
	clear: left;
}

.templateHeader {
	margin-bottom: 20px;
}