<template name="module">

	<h2 class="templateHeader">{{module_code}} - {{module_name}}</h2>

	<table class="table table-striped table-bordered">

		<tr>
			<th>#</th>
			<th>Student Number</th>
			<th>Name</th>
			<th>%</th>
		</tr>

		{{#each students}}
		<tr class="table-striped">
			<td>{{index}}</td>
			<td>{{student_number}}</td>
			<td><a href="{{pathFor 'student' _id=student_number}}">{{name}}</a></td>
			<td>{{roundPercentage percentage_of_classes_attended}}</td>
		</tr>
		{{/each}}


	</table>

</template>