<template name="module">

	{{#if sessionModuleIDMatchesParameterModuleID}}
		<h2 class="templateHeader">{{module_code}} - {{module_name}}</h2>

		{{#if noDataOrAccess}}
			<h4 class="invalidAccessError">Either you do not have access to this module's attendance, or there is no data available. You can return to your list of modules <a href="{{pathFor 'modules'}}">here</a>.</h4>
		{{else}}

			<div class="btn-group btn-group-justified btn-block moduleBreakdownBtnGroup">
				<a href=# class="btn btn-{{#if whatToShow "student"}}primary{{else}}default{{/if}} btn-student" role=button>Breakdown by Student</a>
				<a href=# class="btn btn-{{#if whatToShow "class"}}primary{{else}}default{{/if}} btn-class" role=button>Breakdown by Class</a>
			</div>
			<!-- Split button -->
			<div class="btn-group moduleBreakdownBtnList">
				  <button type="button" class="btn btn-default dropdown-lead">Breakdown by</button>
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a class="btn-student {{#if whatToShow "student"}}btn-selected-dropdown{{/if}}">Student</a></li>
				    <li><a class="btn-class {{#if whatToShow "class"}}btn-selected-dropdown{{/if}}">Class</a></li>
				  </ul>
			     <div class="clearFix"></div>
			</div>

			{{#if whatToShow "student"}}
				<div class="table-responsive studentBreakdown">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Student Number</th>
								<th>Name</th>
								<th>%</th>
							</tr>
						</thead>

						<tbody>
							{{#each students}}
							<tr>
								<th scope="row">{{index}}</th>
								<td>{{student_number}}</td>
								<td><a href="{{pathFor 'student' _id=student_number}}">{{name}}</a></td>
								<td class={{rowClassForPercentage percentage_of_classes_attended}}>
									<div class="percentageCellContainer">
										<div class="moduleClassAttendance">{{roundPercentage percentage_of_classes_attended}}</div>
										<a class="btn btn-primary btn-xs breakdownButton" role="button" href="{{pathFor 'student_module_detail' studentNumber=student_number moduleID=../moduleID}}">View Breakdown</a>
						    			<div class="clearFix"></div>
									</div>
					    		</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			{{/if}}

			{{#if whatToShow "class"}}
				<div class="table-responsive studentBreakdown">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Type</th>
								<th>Date</th>
								<th>Start Time</th>
								<th>Finish Time</th>
								<th>%</th>
							</tr>
						</thead>

						<tbody>
							{{#each classesGroupedCollection}}
								<tr class="info"><td>&nbsp;</td><td colspan=5><h4 class="tableBreakdownHeader">{{formatMonthAndYear key}}</h4></td></tr>
								{{#each classes}}
									<tr>
										<th scope="row">{{index}}</th>
										<td>{{class_type}}</td>
										<td>{{formatClassDate date}}</td>
										<td>{{formatTime start_time}}</td>
										<td>{{formatTime finish_time}}</td>
										<td class={{rowClassForPercentage percentage_of_students_attended}}>
											<div class="percentageCellContainer">
												<div class="moduleClassAttendance">{{roundPercentage percentage_of_students_attended}}</div>
												<a class="btn btn-primary btn-xs breakdownButton" role="button" href="{{pathFor 'class' _id=occurrence_id}}">View Breakdown</a>
								    			<div class="clearFix"></div>
											</div>
										</td>
									</tr>
								{{/each}}
							{{/each}}
						</tbody>
					</table>
				</div>
			{{/if}}
		{{/if}}
	{{/if}}

</template>