<template name="modules">
	<h1 class="templateHeader">My Modules</h1>

	<div class="panel-group" id="accordion">
		{{#each modules}}
		  <div class="panel panel-default">
		    <div class="panel-heading">
      			<h3 class="panel-title">
			        <a data-toggle="collapse" class="moduleTitle" data-parent="#accordion" href="#collapse{{index}}" id="{{module_id}}">
			        {{module_name}}</a>
			    	<div class="moduleAverage">{{roundPercentage percentage_of_classes_attended}}%</div>
			    	<div class="clearFix"></div>
			    </h3>
		    </div>
		    <div id="collapse{{index}}" class="panel-collapse collapse">
		      <div class="canvas-holder">
		      	<canvas id="myChart{{module_id}}" width="400" height="400"></canvas>
		      </div>
		      {{#if isModule index}}
	      	  	<a class="moduleLink" href="{{pathFor 'module' _id=module_id}}">See more -></a>
	      	  {{/if}}
		    </div>
		  </div>
	  	{{/each}}
	</div>
</template>