<template name="modules">
	<h1 class="templateHeader">My Modules</h1>

	<ul class="accordion" data-accordion>
		{{#each totals}}
		  <li class="accordion-navigation">
		    <a href="#panel-{{index}}" class="moduleHeader">{{module_name}}</a>
		    <div class="moduleAverage">{{roundPercentage percentage_of_classes_attended}}%</div>
		    <div id="panel-{{index}}" class="content">
		      <div class="canvas-holder">
		      	<canvas id="myChart{{module_id}}" width="400" height="400"></canvas>
		      </div>
	      	  <a href="{{pathFor 'module' _id=module_id}}">See more -></a>
		    </div>
		  </li>
	  	{{/each}}
	</ul>
</template>